<!DOCTYPE html>

<html>
<head>
    <title>sign_in</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link href="{{ url_for('static',filename='css/css10.css') }}" rel="stylesheet" type="text/css"/>
    <script language="JavaScript">
			function startTime()
			{
				var today=new Date();//定义日期对象
				var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年
				var MM = today.getMonth()+1;//通过日期对象的getMonth()方法返回年
				var dd = today.getDate();//通过日期对象的getDate()方法返回年
				var hh=today.getHours();//通过日期对象的getHours方法返回小时
				var mm=today.getMinutes();//通过日期对象的getMinutes方法返回分钟
				var ss=today.getSeconds();//通过日期对象的getSeconds方法返回秒
				// 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
				MM=checkTime(MM);
				dd=checkTime(dd);
				mm=checkTime(mm);
				ss=checkTime(ss);
				var day; //用于保存星期（getDay()方法得到星期编号）
				if(today.getDay()==0)   day   =   "星期日 "
				if(today.getDay()==1)   day   =   "星期一 "
				if(today.getDay()==2)   day   =   "星期二 "
				if(today.getDay()==3)   day   =   "星期三 "
				if(today.getDay()==4)   day   =   "星期四 "
				if(today.getDay()==5)   day   =   "星期五 "
				if(today.getDay()==6)   day   =   "星期六 "
				if(mm==01&&hh==00&&ss==01)   location="{{ url_for('home.check') }}";
				document.getElementById('nowDateTimeSpan').innerHTML=yyyy+"-"+MM +"-"+ dd +" " + hh+":"+mm+":"+ss+"   " + day;
				setTimeout('startTime()',1000);//每一秒中重新加载startTime()方法
			}

			function checkTime(i)
			{
				if (i<10){
					i="0" + i;
				}
				  return i;
			}

    </script>
</head>
<body background="{{url_for('static', filename='img/background.png')}}" style="background-size:100%;"
      onload="startTime()">
<!--<body style="background-image:url_for(img/bg.jpg);background-size:100%;">-->
<!--<img src="{{ url_for('static',filename='photo/001.bmp') }}" />-->

<a style="float:right;font-family:微软雅黑,宋体;color:black;margin-top:-100px;" href="{{ url_for('admin.login') }}">管理员入口</a>
<div class="login">
    <div class="login1">签到</div>
    <div style="text-align:center"><font color="#33FFFF"><span id="nowDateTimeSpan"></span></font></div>
    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
        </button>
        <h4><i class="icon fa fa-check"></i> 操作成功</h4>
        {{ msg }}
    </div>
    {% endfor %}
    {% for msg in get_flashed_messages(category_filter=["err"]) %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
        </button>
        <h4><i class="icon fa fa-check"></i> 操作失败</h4>
        {{ msg }}
    </div>
    {% endfor %}

    <form method="post">
        <div class="login4">{{ form.number.label }}</div>
        {{ form.number }}
        {% for err in form.number.errors %}
        <div class="col-md-12">
            <p style="color: red">{{ err }}</p>
        </div>
        {% endfor %}
        {# <input class="login2" type="text" name="account" placeholder="用户名/邮箱/手机号码"/><br/> #}

        <div class="login4">{{ form.type.label }}</div>
        {{ form.type }}
        {% for err in form.type.errors %}
        <div class="col-md-12">
            <p style="color: red">{{ err }}</p>
        </div>
        {% endfor %}
        {# <input class="login2" type="text" name="password" placeholder="密码"/><br/> #}
        {{ form.csrf_token }}
        {{ form.submit }}
        {#
        <button class="login3" name="submit" type="button">登录</button>
        #}
    </form>
</div>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.lazyload.min.js') }}"></script>
<script>
    $(function() {
        new WOW().init();
    })


</script>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</body>
</html>