<!DOCTYPE html>
<html>

<head>
	<title>admin</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html"/>
	<link rel="shortcut icon" href="{{ url_for('static',filename='photo/logo.bmp') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link href="{{ url_for('static',filename='css/css10.css') }}" rel="stylesheet" type="text/css" />
	{% block css %} {% endblock %}
</head>

<body>
<!--左侧栏目-->
<div class="admin_left">
	<img src="{{ url_for('static',filename='photo/logo1.bmp')}}" width="100%" height="21.3%" style="margin:50px 0 0 0" />
	<div class="admin_left1">管理菜单</div>
	<a href="{{ url_for('admin.index')}}" class="admin_left2">首页</a>
	<a href="{{ url_for('admin.user_list', page=1) }}" class="admin_left2">员工列表</a>
	<a href="{{ url_for('admin.user_add') }}" class="admin_left2">添加员工</a>

	<a href="{{ url_for('admin.logout') }}" class="admin_left2">退出登录</a>
</div>
<!--上侧标题-->
<div class="admin_top">
	<div style="display:inline">后台管理系统</div>
	<div class="admin_top_right">用户{{ session['admin'] }}</div>
	<div class="admin_top_right" style="padding-right:10px;"><img src="{{url_for('static',filename='photo/020.png')}}" /></div>
</div>
<!--内容-->
     {% block content %} {% endblock %}
<!--内容-->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.lazyload.min.js') }}"></script>
<script>
    $(function() {
        new WOW().init();
    })

</script>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</body>
</html>